<div class="list-group list-group-item">
   <h4 class="list-group-item-heading">Channels disponibles</h4>
</div>
<dl class="nav nav-sidebar">
  <li ng-repeat="c in channels.data" ng-class="{'active' : active==c.id }" >
    <a ng-click="changerFocus(c.id)">
      {{c.name}}
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li>
    <form ng-submit="add()">
          <input class="form-control" placeholder="Nom du nouveau channel" required="" type="text" ng-model="newchan" >
    </form>
  </li>
</dl>
